* {
    border: 1px solid red;
}

/*HEADING BLOCK*/

.header-block {     /*entire top block*/
    display: flex;
    flex-direction: column;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header {          /*header logo and links*/
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-between;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 8px;
    list-style-type: none;

}

.awesome-content {
    display:flex;
    justify-content: center;
    gap:8px;
    margin: 40px;
    
}

.awesome-text {
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sign-up-button {
    width: fit-content;
}

/*GET MARGINS OF HEAD AND CPNTENT EQUAL*/
/*SPLIT INTO COMMON SELECTORS TO AVOID REPEAT*/

/*RANDOM BLOCK*/

.random-block {
    text-align: center;
}

#all-info {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.info-box {
    width: 70px;
    height: 70px;
}


/*THOR BLOCK*/

.thor-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.thor-content {
    margin: 50px;
    width: 500px
}

.thor-name {
    display: flex;
    justify-content: flex-end;
}


/*ACTION BLOCK*/

.action-block {
    
    justify-content: center;
    align-items: center;
    margin: 70px;
}

.action-blue {
    justify-content: center;
    align-items: center;
    margin: 50px;
}